.subnav{
    height:50px;
    width:100%;
    padding:10px 0 10px 20%;
    font-size:24px;
}
.big{
    width:100%;
    background-color:#EEEEEE;
    display:flex;
    justify-content: center;
    padding:50px 0;
}

.wrapper {
    width:60%;
    background-color: white;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
    justify-content: center;
}

.header {
    width: 20%;
    font-size: 20px;
    padding: 30px 20px;
    color: #108ee9;
    text-align:center;
}

.form {
    margin-top: 12px;
    padding: 24px;
}